.chartWrapper {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
}